<app-encabezado titulo="Mi Perfil"></app-encabezado>

<ion-content>
  <div class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Foto de perfil</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <ion-icon name="person-outline"></ion-icon>
      </ion-avatar>
    </ion-item>
  </ion-list>
<br>
  <ion-list>
    <ion-item>
      <ion-label>NOMBRE</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alexis</ion-label>
    </ion-item>
  </ion-list>
<hr>
  <ion-list>
    <ion-item>
      <ion-label>Apellido</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sanchez</ion-label>
    </ion-item>
  </ion-list>
<hr>
  <ion-list>
    <ion-item>
      <ion-label>Numero de Teléfono</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>912**4545</ion-label>
    </ion-item>
  </ion-list>
<hr>
  <ion-list>
    <ion-item>
      <ion-label>Correo Electronico</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>duocuc@duocuc.cl</ion-label>
    </ion-item>
  </ion-list>
<hr>
  <ion-list>
    <ion-item>
      <ion-label>Vehiculo</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Marca: toyota</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Modelo: chino</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Patente: jklk54</ion-label>
    </ion-item>
  </ion-list>
</div>
</ion-content>

