<app-encabezado titulo="Mis viajes"></app-encabezado>


<ion-content class="ion-padding">

  <h3>Iniciar Sesión</h3>
  <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
    <ion-item>
      <ion-input [value]="valorUser" (ionInput)="validarUser($event)" formControlname="user" labelPlacement="floating" label="User"  type="user" aria-label="Email" ></ion-input>
      <ion-icon name="person-outline" slot="end"></ion-icon>
    </ion-item>
    <br>
    <ion-item >
    <ion-input [value]="valorPassword" (ionInput)="validarPassword($event)" id="password" formControlname="password" labelPlacement="floating" label="Password"  type="password" aria-label="password"></ion-input>
    <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>
    <br>
    <ion-button (click)="onSubmit()" expand="full" color="primary" type="submit" class="ion-padding" [disabled]="deshabilitado" >
      Entrar
    </ion-button>
  </form>
  <p style="text-align: center;">
    ¿No tienes una cuenta? <a (click)="navegarARegistro()">Registrarse</a>
  </p>
  <p style="text-align: center;">
    ¿Olvidaste tu contraseña? <a (click)="navegarARecuperar()">Recuperar</a>
  </p>
</ion-content>
