/* Estilo para la caja de los inputs (ion item) */
ion-item {
    border-radius: 8px; /* Ajusta el valor según el grado de redondez deseado */
    border: 0.2px solid #ccc; /* Borde opcional */
    padding: 2px; /* Añade un poco de espacio interior para mejorar el aspecto */
}